<%= javascript_include_tag "datatable" %>
<%= stylesheet_link_tag "table"%>
<%= javascript_include_tag "users" %>
<table id ="users"  class="display" data-source="<%= users_url(format: "json") %>" >
  <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>所属部门</th>
      <th>最后登陆</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
