<head>
<title>管理系统</title>
</head>
<frameset rows="61,*,24" cols="*" framespacing="0" frameborder="no" border="0">
  <noframes>
  <body>Your browser does not handle frames!</body>
  </noframes>
  <frame src="/home/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" />
  <frame src="/home/center" name="mainFrame" id="mainFrame" />
  <frame src="/home/down" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" />
</frameset>
<body>

</body>
