<%= javascript_include_tag "datatable" %>
<%= stylesheet_link_tag "table"%>
<%= javascript_include_tag "bank_accounts" %>
<table id ="bank_accounts"  class="display" data-source="<%= bank_accounts_url(format: "json") %>" >
  <thead>
    <tr>
      <th>帐号名</th>
      <th>银行</th>
      <th>余额</th>
      <th>时间</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
