<%= javascript_include_tag "datatable" %>
<%= stylesheet_link_tag "table"%>
<%= javascript_include_tag "sales_contracts" %>
<table id ="sales_contracts" class="table table-striped table-bordered" data-source="<%= sales_contracts_url(format: "json") %>" >
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>金额</th>
      <th>客户</th>
      <th>时间</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
