/* = require chosen */
.style3 {color: #528311; font-size: 12px; }
.style4 {
  color: #42870a;
  font-size: 12px;
}
.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #C09853;
}


