<%= javascript_include_tag "attendances_personal" %>
<table id ="attendances"  class="display" data-source="/attendances/personal.json" >
  <thead>
    <tr>
      <th>状态</th>
      <th>月份</th>
      <th>用户</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
