<html>
  <head>
    <title><%= @page_title or 'Page Title' %></title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "chosen"%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
